body {
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #c084f5 0%, #4b006e 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}


h1 {
    border-radius: 5px;
    background-color: hsl(0, 17%, 93%);
    border-color: #000000;
    font-size: 40px;
text-align: center;
font-family: Arial, sans-serif;
}


.box{
width: 500px;
height: 300px;
background-color: #f0eaea;
border: solid rgb(255, 255, 255);
margin: 0 auto;
border-radius: 10px; 
border-color: #000000;
}
p {
    font-size: 20px;
    text-align: center;
    color: #000000;
    padding: 20px;
}





