body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #0b0d10; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

h1 {
    color: white;
    margin-top: 15px;
    font-size: 40px;
}

.menu {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item {
    padding: 1em 2em;
    width: 250px;
    height: 40px;
    background-color: #161a20;
    border-radius: 1000px;
    color: #f0f0f0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item::after{
    content: '';
    position: absolute;
    height: 107%;
    width: 102%;
    border-radius: 500px;
    background-image: linear-gradient(to bottom right, #008cff,#e100ff) ;
    z-index: -1;
}

.item:hover{
    z-index: 0;
    box-shadow:-40px 0 100px #e100ffbb, 40px 0 100px #008cff
}


  